# PyInstaller קבצי הקימפול של
build/
dist/
*.spec

# פייתון קבצים זמניים של
__pycache__/
*.pyc

# סביבה וירטואלית (אם יש לך)
venv/
.venv/

# קבצי הגדרות של עורכי קוד
.vscode/
.idea/
emotion_model.onnx